<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="Server" />
    <module name="Server" />
    <option name="PROGRAM_PARAMETERS" value="8000 C:\Users\marga\OneDrive\Documentos\PD\PD-TP\fairshare\test.db" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>